/* Variables & Themes */

/* Light theme: */
:root {
    --background: #FFFFFF;
    --foreground: #000000;
    --primary: #6200EE;
    --primary-alt: #3700B3;
    --secondary: #03DAC6;
}

/* Dark theme: */
@media (prefers-color-scheme: dark) {
    :root {
        --background: #121212;
        --foreground: #FFFFFF;

        --normal-text: rgba(255, 255, 255, 0.6);
        --high-text: rgba(255, 255, 255, 0.87);
        --dim-text: rgba(255, 255, 255, 0.38);
        --component-text: #000000;

        --surface: #121212;
        --surface-hover: #383838;

        --primary: #BB86FC;
        --primary-alt: #3700B3;
        --secondary: #03DAC6;
    }
}

/* Layout */

body {
    background-color: var(--background);
    color: var(--foreground);

    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

.header {
    width: 100%;
    height: 2.5em;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

.interactable {
    background-blend-mode: overlay;
    transition: background-color 0.1s;
}

.interactable:hover {
    background-color: rgba(255, 255, 255, 0.03);
}

.interactable:focus {
    background-color: rgba(255, 255, 255, 0.12);
    /* TODO: stroke */
}

.place-input {
    border: 0;
    border-radius: 3px;
    margin: 1px;
    height: calc(100% - 2px);
    width: calc((100% - 5em)/2 - 2px);

    background-color: var(--surface);
    color: var(--foreground);
}

.header-submit {
    border: 0;
    border-radius: 3px;
    margin: 1px;
    height: calc(100% - 2px);
    width: calc(5em - 2px);

    background-color: var(--surface);
    color: var(--foreground);
}

.leaflet-popup-tip-container {
    color: var(--surface);
}

.leaflet-popup-content-wrapper, .leaflet-popup-content {
    background-color: var(--surface);
    color: var(--high-text);
}

#map-container {
    position: relative;

    height: calc(100% - 2.5em);
    width:  100%;
}

#map {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    height: 100%;
    width:  100%;
}

.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;

    display: inline-block;
    width: 100px;
    height: 100px;
    border: 5px solid #000;
    border-radius: 50%;
    border-top-color: #fff;
    animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
      0% { transform: translate(-50%, -50%) rotate(  0deg); }
    100% { transform: translate(-50%, -50%) rotate(360deg); }
}
